.foot {
    width: 100%;
    height: 100%;
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*다운로드 푸터*/
.download_foot {
    width: 100%;
    height: 130px;
    background-color: white;
    position: relative;
    top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DH_box{
    width: 140px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
}


/*푸터 전체*/
.foot_all{
    width: 880px;
    height: 300px;
    margin: 90px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.youtube_btn{
    width: 50px;
    height: 50px;
    background-image: url(youtube.png);
    background-size: cover;
    margin-bottom: 20px;
}
.youtube_btn:hover{
    background-image: url(youtube_hover.png);
}

.footer{
    width: 880px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    font-size: 14px;
    color: rgb(79, 79, 79);
}
.footer a{
    color: rgb(79, 79, 79);
    margin-right: 20px;
}
.a_border{
    font-weight: bold;
}

/*카피라이트*/
.copyright{
    width: 880px;
    height: 50px;
    text-align: center;
    font-size: 11px;
    margin-top: 20px;
    line-height: 18px;
    color: rgb(164, 165, 164);
}
.external_site{
    width: 100px;
    height: 60px;
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-between;
}

.NS_img{
    width: 75px;
    height: 30px;
    border-right: 1px solid rgb(230, 230, 230);
}
.ND_img{
    width: 75px;
    height: 30px;
    margin-left: 20px;
}